<!-- Denver DeBoer -->
<!-- Specific recipe display for Slice or Dice -->
<!-- Used to display information such as number of servings, -->
<!-- estimated time to cook, and list of ingredients needed -->
<%
    let ing = recipeData.recipeIng.split(/(\d+\D+)/)
    ing = ing.filter(function(f) {
        return f != ""
    })
%>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <title>SLICEorDICE</title>
        <style>
            #title {
                font-size: 30px;
                font-style: italic;
                text-align: center;
                margin: 0 auto;
            }
            img {
                width: 300px;
                height: 300px;
                display: block;
                margin: 10 auto;
            }
            ul {
                display: table;
                margin: 10 auto;
            }
        </style>
    </head>
    <body>
        <span>
            <!-- Title of recipe -->
            <div id="title"><%= recipeData.recipeName %></div>
            <!-- Nav bar -->
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <div class="container-fluid">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link" href="/recipeSearch">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recipeMain">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recipeList">MyList</a></li>
                    </ul>
                </div>
            </nav>
        </span>
        <img src="<%= recipeData.recipePic %>">
        <ul>
            <li>Servings: <%= recipeData.recipeYield %> servings</li>
            <li>Time: <%= recipeData.recipeTime %> minutes</li>
            <li>Ingredients:</li>
            <% for(let i = 0; i < ing.length; i++) { %>
                <dd>-<%=ing[i]%></dd>
            <% } %>
        </ul>
    </body>
</html>